html {
    overflow:auto;
}

body {
    background: #fff;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

html, body {
    height: 100%;
    color: #555;
}

section {
    background: #fff;
}

.app {
    overflow: hidden;
    min-height:100%;
    height:100%;
    background-color:#fff;
    padding: 0px;
}

@media (max-width: 990px) {
  .app {
    overflow: visible;
    height:auto;
  }
}

.navbar {
    background-color:#fff;
}

.page-container {
    padding-left:30px;
    padding-right:30px;
}

.panel-title {
    font-size: 20px;
    border-bottom: 1px solid #ccc;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: -30px;
    margin-right: -30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.h-100 {
    min-height: 100%;
    height: 100%;
    overflow-x:hidden;
    overflow-y: scroll;
    overflow: auto;
}

.sidebar {
    border-right:1px solid #D3E0E9;
    padding-left:0px;
}

.sidebar .list-group {
    margin-right: 10px;
}

.sidebar .brand {
    font-size: 20px;
    color: #fff;
    letter-spacing: .1px;
    padding: 10px 15px;
    padding-bottom:0px;
}

.sidebar .list-group-nav-header {
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    letter-spacing: .1px;
    padding-left: 15px;
    padding-top: 5px;
}

.sidebar .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    padding-left: 25px;
    margin-bottom: -1px;
    background-color: transparent;
}

.sidebar a.list-group-item {
    padding: 7px 15px;
    font-size: 15px;
    line-height: 24px;
    display: block;
    text-decoration: none;
    padding-left: 23px;
    font-weight: normal;
    outline: none;
    text-decoration:none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top:10px;
    border:0px;
}

.sidebar a.list-group-item:first-child {
    border-top-left-radius: 0px;
}

.sidebar a.list-group-item:last-child {
    border-bottom-left-radius: 0px;
}

.sidebar .list-group-item .icon {
    font-size:15px;
    opacity: 0.8;
    -webkit-filter: none;
}

label.theme {
    margin-right: 20px;
    margin-bottom: 15px;
    text-align: center;
}

label.theme .sidebar-preview {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    height: 80px;
    margin-bottom: 10px;
    width: 120px;
}

.sidebar {
    background-color: #303E4C;
}

.sidebar .list-group-item {
    color: #969CA4;
}

.sidebar a.list-group-item:hover {
    background-color: #404C5A;
    color:#fff;
}

.sidebar .list-group-item.active, 
.sidebar .list-group-item.active:focus, 
.sidebar .list-group-item.active:hover {
    color:#fff;
    background-color: #0275D8;
}

.sidebar .list-group-item .icon,
.sidebar .list-group-item .fa,
.sidebar .list-group-item.active .icon,
.sidebar .list-group-item.active .fa {
    margin-right: 15px;
    color: #fff;
}

label.theme .sidebar-preview.default {
    background-color: #303E4C;
}

.sidebar.graphite {
    background-color: #777777;
}

.sidebar.graphite .list-group-item {
    color: #ccc;
}

.sidebar.graphite a.list-group-item:hover {
    background-color: #666666;
    color: #fff;
}

.sidebar.graphite .list-group-item.active, 
.sidebar.graphite .list-group-item.active:focus, 
.sidebar.graphite .list-group-item.active:hover {
    background-color: #666666;
    color: #fff;
}

.sidebar.graphite .list-group-item .fa,
.sidebar.graphite .list-group-item .icon,
.sidebar.graphite .list-group-item.active .fa,
.sidebar.graphite .list-group-item.active .icon {
    color: #ccc;
}

label.theme .sidebar-preview.graphite {
    background-color: #777777;
}

.sidebar.charcoal {
    background-color: #2B333D;
}

.sidebar.charcoal .list-group-item {
    color: #c5d0de;
}

.sidebar.charcoal a.list-group-item:hover {
    background-color: #24272D;
    color: #fff;
}

.sidebar.charcoal .list-group-item.active, 
.sidebar.charcoal .list-group-item.active:focus, 
.sidebar.charcoal .list-group-item.active:hover {
    background-color: #24272D;
    color: #fff;
}

.sidebar.charcoal .list-group-item .fa,
.sidebar.charcoal .list-group-item .icon,
.sidebar.graphite .list-group-item.active .fa,
.sidebar.charcoal .list-group-item.active .icon {
    color: #c5d0de;
}

label.theme .sidebar-preview.charcoal {
    background-color: #2B333D;
}

.sidebar.green {
    background-color: #018865;
}

.sidebar.green .list-group-item {
    color: #adc;
}

.sidebar.green a.list-group-item:hover {
    background-color: #017855;
    color: #fff;
}

.sidebar.green .list-group-item.active, 
.sidebar.green .list-group-item.active:focus, 
.sidebar.green .list-group-item.active:hover {
    background-color: #017855;
    color: #fff;
}

.sidebar.green .list-group-item .fa,
.sidebar.green .list-group-item .icon,
.sidebar.green .list-group-item.active .fa,
.sidebar.green .list-group-item.active .icon {
    color: #adc;
}

label.theme .sidebar-preview.green {
    background-color: #018865;
}

.sidebar.grey {
    background-color: #272727;
}

.sidebar.grey .list-group-item {
    color: #979797;
}

.sidebar.grey a.list-group-item:hover {
    background-color: #222222;
    color: #fff;
}

.sidebar.grey .list-group-item.active, 
.sidebar.grey .list-group-item.active:focus, 
.sidebar.grey .list-group-item.active:hover {
    background-color: #222222;
    color: #fff;
}

.sidebar.grey .list-group-item .fa,
.sidebar.grey .list-group-item .icon,
.sidebar.grey .list-group-item.active .fa,
.sidebar.grey .list-group-item.active .icon {
    color: #979797;
}

label.theme .sidebar-preview.grey {
    background-color: #272727;
}

.sidebar.violet {
    background-color: #443366;
}

.sidebar.violet .list-group-item {
    color: #98c;
}

.sidebar.violet a.list-group-item:hover {
    background-color: #332255;
    color: #fff;
}

.sidebar.violet .list-group-item.active, 
.sidebar.violet .list-group-item.active:focus, 
.sidebar.violet .list-group-item.active:hover {
    background-color: #332255;
    color: #fff;
}

.sidebar.violet .list-group-item .fa,
.sidebar.violet .list-group-item .icon,
.sidebar.violet .list-group-item.active .fa,
.sidebar.violet .list-group-item.active .icon {
    color: #98c;
}

label.theme .sidebar-preview.violet {
    background-color: #443366;
}

.sidebar.blue {
    background-color: #1970A9;
}

.sidebar.blue .list-group-item {
    color: #becde9;
}

.sidebar.blue a.list-group-item:hover {
    background-color: #096099;
    color: #fff;
}

.sidebar.blue .list-group-item.active, 
.sidebar.blue .list-group-item.active:focus, 
.sidebar.blue .list-group-item.active:hover {
    background-color: #096099;
    color: #fff;
}

.sidebar.blue .list-group-item .fa,
.sidebar.blue .list-group-item .icon,
.sidebar.blue .list-group-item.active .fa,
.sidebar.blue .list-group-item.active .icon {
    color: #becde9;
}

label.theme .sidebar-preview.blue {
    background-color: #1970A9;
}

.sidebar.aubergine {
    background-color: #4D394B;
}

.sidebar.aubergine .list-group-item {
    color: #998897;
}

.sidebar.aubergine a.list-group-item:hover {
    background-color: #3E313C;
    color: #fff;
}

.sidebar.aubergine .list-group-item.active, 
.sidebar.aubergine .list-group-item.active:focus, 
.sidebar.aubergine .list-group-item.active:hover {
    background-color: #4F9689;
    color: #fff;
}

.sidebar.aubergine .list-group-item .fa,
.sidebar.aubergine .list-group-item .icon {
    color: #998897;
}

.sidebar.aubergine .list-group-item.active .fa,
.sidebar.aubergine .list-group-item.active .icon {
    color: #fff;
}

label.theme .sidebar-preview.aubergine {
    background-color: #4D394B;
}

.sidebar.work {
    background-color: #4D5250;
}

.sidebar.work .list-group-item {
    color: #B7B9B9;
}

.sidebar.work a.list-group-item:hover {
    background-color: #474B4A;
    color: #fff;
}

.sidebar.work .list-group-item.active, 
.sidebar.work .list-group-item.active:focus, 
.sidebar.work .list-group-item.active:hover {
    background-color: #D29A4E;
    color: #fff;
}

.sidebar.work .list-group-item .fa,
.sidebar.work .list-group-item .icon {
    color: #B7B9B9;
}

.sidebar.work .list-group-item.active .fa,
.sidebar.work .list-group-item.active .icon {
    color: #fff;
}

label.theme .sidebar-preview.work {
    background-color: #4D5250;
}